{{template "header.html"}}
  <title>Gestione Biglietti</title>
</head>
<body>
{{template "navbar.html"}}
<div class="text-center">
  <div class="row align-items-center">
  <!-- COLONNA 1 -->
    <div class="col-2">
    <h2>Crea Biglietto</h2>
    <form method="POST" action="/biglietti/create">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Tipo</span>
        <input type="text" class="form-control" placeholder="Tipologia" id="tipo" name="tipo" aria-label="tipo" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Costo</span>
        <input type="text" class="form-control" placeholder="10" id="costo" name="costo" aria-label="costo" aria-describedby="basic-addon1">
      </div>
      <button type="submit" class="btn btn-primary">Crea Biglietto</button>
    </form>
    </div>
  <!-- COLONNA 2 -->
    <div class="col-9">
      <h2>Biglietti</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <!--<th scope="col">ID <a href="/spettacoli/read?orderby=ID desc">&#x2191;</a><a href="/spettacoli/read?orderby=ID asc">&#x2193;</a></th>-->
        <th scope="col">Tipo<a href="/biglietti/read?orderby=Tipo desc">&#x2191;</a><a href="/biglietti/read?orderby=Tipo asc">&#x2193;</a></th>
        <th scope="col">Costo<a href="/biglietti/read?orderby=Costo desc">&#x2191;</a><a href="/biglietti/read?orderby=Costo asc">&#x2193;</a></th>
        <th scope="col">Opzioni</th>
      </tr>
    </thead>
    <tbody>
      {{range .biglietti}}
      <tr>
        <!--<td scope="row">{{.ID}}</td>-->
        <td scope="row">{{.Tipo}}</td>
        <td scope="row">{{.Costo}}</td>
        <td scope="row">
          <form method="GET" action="/biglietti/update/{{.ID}}" style="display: inline-block;">
            <button type="submit" class="btn btn-primary">Modifica</button>
          </form>
          <form method="POST" action="/biglietti/delete/{{.ID}}" style="display: inline-block;" onsubmit="return confirm('Sei sicuro di voler eliminare il biglietto  {{.Tipo}}?')" >
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-primary">Elimina</button>
          </form>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
    </div>
    <!-- COLONNA 3 -->
    <div class="col-1">

    </div>
  </div>
</div>
{{template "footer.html"}}